@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="ml-[14%]">
        <div class="top-row px-4">
            <TopBar/>
        </div>

        <article class="ml-[5%] mt-[3vh]">
            @Body
        </article>
    </main>
</div>
