@using Syncfusion.Blazor.Layouts
@using Syncfusion.Blazor.Lists
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Navigations
@inherits LayoutComponentBase


<style>
    .container {
        width : 100%;
        min-height : 100vh;
        display : flex;
    }

    .navbar{
        width : 18%;
        box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1); /* tiny right shadow */
    }

    .main-content{
        width : 82%;
    }

    .content{
        padding : 25px 20px;
    }
</style>

<div class="container">
    <div class="navbar">
        <NavMenu/>
    </div>
    <div class="main-content">
        <div class="appbar">
            <TopBar/>
        </div>
        <div class="content">
            @Body
        </div>
    </div>
</div>

@code {
    private bool SidebarOpen = true;

    private List<MenuItem> MenuItems = new()
    {
        new MenuItem { Text = "Dashboards", Url = "/"},
        new MenuItem { Text = "Menu Levels", Url = "/menulevels"},
        new MenuItem { Text = "Inbox", Url = "/inbox"},
        new MenuItem { Text = "Gallery", Url = "/gallery"},
        new MenuItem { Text = "Pages", Url = "/pages"},
        new MenuItem { Text = "Grid Layouts", Url = "/grids"},
        new MenuItem { Text = "Forms", Url = "/forms"},
        new MenuItem { Text = "Settings", Url = "/settings"}
    };

    public class MenuItem
    {
        public string Text { get; set; }
        public string Url { get; set; }
    }
}
