@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons


<style>

</style>

<div>
    <div id="header" style="height:45px;text-align: center;color:black;font-size:1.2rem;line-height:45px;">
        DouaneCRM
    </div>
</div>


<div class="text-content" style="text-align: center;">

</div>

@code {
    SfSidebar sidebarObj;
    public bool SidebarToggle = false;
    public void Close()
    {
        SidebarToggle = false;
    }
}

<style>
    .e-sidebar {
        background-color: #f8f8f8;
        color: black;
    }

    .text-content {
        font-size: 1.5rem;
        padding: 3rem;
    }
</style>