@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons
@inject NavigationManager navigationManager

<div class="control-container">
    <SfAppBar ColorMode="AppBarColor.Primary">
        <AppBarSpacer></AppBarSpacer>
        <SfButton CssClass="e-inherit" Content="Se déconnecter" OnClick="NavigateToLogin"></SfButton>
    </SfAppBar>
</div>

<style>
    * {
        font-family: 'Roboto', sans-serif;
    }
    .control-container .e-btn.e-inherit {
        margin: 0 3px;
    }
</style>

@code{

    public void NavigateToLogin()
    {
        navigationManager.NavigateTo("/");
    }

}