@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons

<div class="control-container">
    <SfAppBar ColorMode="AppBarColor.Primary">
        <AppBarSpacer></AppBarSpacer>
        <SfButton CssClass="e-inherit" Content="Se déconnecter"></SfButton>
    </SfAppBar>
</div>

<style>
    * {
        font-family: 'Roboto', sans-serif;
    }
    .control-container .e-btn.e-inherit {
        margin: 0 3px;
    }
</style>