* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body{
    min-height : 100%;
}

.e-card {
    padding: 20px;
    margin: 10px;
}

.e-card .e-card-header .e-card-header-caption .e-card-header-title {
    font-size: large;
    font-weight : bold;
}